@keyframes skeoh-ui-outline-glow {
	0% {
		outline-color: @color-outline-glow-secondary;
	}
	50% {
		outline-color: @color-outline-glow-primary;
	}
	100% {
		outline-color: @color-outline-glow-secondary;
	}
}
