@import "~skeoh-ui-common-styles/src/styles";
@import "~skeoh-ui-component-flex/src/styles";
@import "~skeoh-ui-component-fill/src/styles";

.skeoh-ui-button {
	padding: 0.25em;
	vertical-align: baseline;
	border: 1px solid @color-button-border;
	background-color: @color-button-bg;

	&:not(:disabled):not(.disabled) {
		cursor: pointer;

		&:hover,
		&.hover {
			background-color: @color-button-hover-bg;
			border-color: @color-button-hover-border;
		}

		&:focus,
		&.focus {
			background-color: @color-button-focus-bg;
			border-color: @color-button-focus-border;
			outline: 2px solid @color-outline-glow-primary;
			outline-offset: 1px;
			animation: @animation-outline-glow;
		}

		&:active,
		&.active {
			background-color: @color-button-active-bg;
			outline-color: @color-outline-glow-primary;
			animation: @animation-outline-static;
		}
	}
}

.skeoh-ui-button-group {
	display: inline-block;

	.skeoh-ui-button {
		position: relative;
		z-index: 1;

		&:focus {
			z-index: 2;
		}
	}
}

.skeoh-ui-button-group-horizontal {
	.skeoh-ui-button-group();

	.skeoh-ui-flex-container {
		flex-direction: row;
	}

	.skeoh-ui-flex-item:not(:last-child) {
		margin-right: -1px;
	}
}

.skeoh-ui-button-group-vertical {
	.skeoh-ui-button-group();

	.skeoh-ui-flex-container {
		flex-direction: column;
	}

	.skeoh-ui-flex-item:not(:last-child) {
		margin-bottom: -1px;
	}
}
